.main {
  display: flex;
  justify-content: flex-end;
}

.switch-wrapper {
  border: 1px solid var(--foreground-color);
  border-radius: 20px;
  display: flex;
  padding: 2px;
  margin: 8px 8px;
}

.switch-icons {
  padding: var(--spacing);
}
