.switch-wrapper {
  border: 1px solid var(--foreground-color);
  border-radius: 20px;
  display: flex;
  padding: 2px;

  position: absolute;
  right: 20px;
  top: 20px;
}

.switch-icons {
  padding: var(--spacing);
}
