.switch-wrapper {
  border: 1px solid var(--foreground-color);
  border-radius: 20px;
  display: flex;
  padding: calc(0.5 * var(--spacing));

  position: absolute;
  right: calc(5 * var(--spacing));
  top: calc(5 * var(--spacing));
}

.switch-icons {
  padding: var(--spacing);
}
