:root {
  --max-width: 1100px;
  --spacing: 4px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

[data-theme="dark"],
[data-theme="dark"] body {
  --foreground-color: #fff;
  --background-color: #000;
}

[data-theme="light"],
[data-theme="light"] body {
  --foreground-color: #000;
  --background-color: #fff;
}
