:root {
  --max-width: 1700px;
  --spacing: 4px;
  --lightest-blue: #caf0f8;
  --lighter-blue: #90e0ef;
  --light-blue: #00b4d8;
  --blue: #0077b6;
  --darker-blue: #26597e;
  --darkest-blue: #003049;

  --darker-green: #354f52;
  --lightest-green: #cad2c5;
  --lighter-green: #84a98c;
  --light-green: #52796f;
  --green: #31572c;
}

* {
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}

[data-theme="dark"],
[data-theme="dark"] body {
  --foreground-color: #e7eaee;
  --background-color: #191717;

  --intro-bg-trans-color-1: #0a0a0a;
  --intro-bg-trans-color-2: #191717;
  --intro-bg-trans-color-3: #232121;
}

[data-theme="light"],
[data-theme="light"] body {
  --foreground-color: #191717;
  --background-color: #e7eaee;

  --intro-bg-trans-color-1: #e7eaee;
  --intro-bg-trans-color-2: #cadbe3;
  --intro-bg-trans-color-3: #b6ddf6;
}
