.outer-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.container {
  max-width: var(--max-width);
}

.main {
  display: flex;
  justify-content: flex-end;
}

.bottom-section {
  position: absolute;
  bottom: 150px;
  margin: 0 20px;
  font-size: 1.25rem;
}

.learn-more-btn {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 300px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .bottom-section {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    bottom: 150px;
    font-size: 1.5rem;
  }
}
